graft submodules/zlib
prune submodules/zlib/examples
prune submodules/zlib/test
prune submodules/zlib/contrib

recursive-include submodules/leveldb-mcpe *.h *.cc CMakeLists.txt LICENSE

recursive-include src/leveldb *.hpp *.cpp *Config.cmake

include CMakeLists.txt

prune tests
