recursive-include src/leveldb *.py *.pyi *.pyx *.pxd
recursive-include src/bin *.lib *.dll *.exp *.a *.so *.dylib *.dll
recursive-include build_tools *.py
recursive-include leveldb_mcpe *.h
include leveldb_mcpe.pxd
include versioneer.py
