# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unittests

on:
  push:
    branches:
      - master
      - main
      - '[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+'
  pull_request:

jobs:
  unittests:
    continue-on-error: true
    strategy:
      matrix:
        cfg:
          - { os: windows-latest, architecture: x64, python-version: "3.11" }
          - { os: windows-latest, architecture: x86, python-version: "3.11" }
          - { os: macos-13, architecture: x64, python-version: "3.11" }
          - { os: macos-latest, architecture: arm64, python-version: "3.11" }
          - { os: ubuntu-latest, architecture: x64, python-version: "3.11" }
          - { os: windows-latest, architecture: x64, python-version: "3.12" }
          - { os: windows-latest, architecture: x86, python-version: "3.12" }
          - { os: macos-13, architecture: x64, python-version: "3.12" }
          - { os: macos-latest, architecture: arm64, python-version: "3.12" }
          - { os: ubuntu-latest, architecture: x64, python-version: "3.12" }

    runs-on: ${{ matrix.cfg.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Set up Python ${{ matrix.cfg.python-version }} ${{ matrix.cfg.architecture }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.cfg.python-version }}
        architecture: ${{ matrix.cfg.architecture }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools
        pip install .
    - name: Test with unittest
      run: python -m unittest discover -v -s tests
